/*  Color
Web color, Color activ button, email, phone, button-hero - #2196F3 !!!
Color passiv button, h2, h3, project__button-passiv - #212121 !!!
Color passiv email, phone, p - #757575 !!!

background header - #FFFFFF
background hero, footer - #2F303A
background main - #E5E5E5
backgrpund section our team - #F5F4FA

text hero, button-hero, address, project__button-active - #FFFFFF
email+phone-footer - rgba(255, 255, 255, 0.6);

*/

/* Font
Font logo - Raleway 700
Font nav, mail, phone, hero, button-hero, h2, h3, p, address, email+phone-footer - Roboto 400, 500, 700, 900
*/

:root {
  --primary-text-color: #757575;
  --activ-button-color: #2196f3;
  --title-text-color: #212121;
  --text-hero-color: #ffffff;
  --border-example-color: #eeeeee;
  --secondary-bg-color: #f5f4fa;
  --primary-fill-color: #afb1b8;
  --checked-button-color: #188CE8;
  --network-bg-color: rgba(255, 255, 255, 0.1);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background-color: var(--text-hero-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero__button,
.project__button,
.subscribe__button,
.modal__button,
.modal-form__button {
  cursor: pointer;
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  z-index: 3;

  transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  background-color: var(--text-hero-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--duration) var(--timing-function);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  left: auto;
  width: 30px;
  height: 30px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--text-hero-color);
  color: #000000;

  transition: color var(--duration) var(--timing-function);
}

.modal__button:hover,
.modal__button:focus {
  color: var(--activ-button-color);
}

.modal__icon {
  fill: currentColor;
}

.modal-form {
  margin: 40px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.modal-form__lable {
  display: block;
  margin-bottom: 10px;
}

.modal-form__content {
  display: block;
  height: 14px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.modal-form__field {
  position: relative;
}

.modal-form__textarea,
.modal-form__input {
  width: 100%;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
}

.modal-form__input {
  height: 40px;
  padding-left: 42px;

  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__input:focus {
  border-color: var(--activ-button-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: inherit;
  fill: #000000;

  transition: fill var(--duration) var(--timing-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--activ-button-color);
}

.modal-form__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  border: 1px solid var(--activ-button-color);
}

.modal-form__feedback {
  display: block;
  margin-bottom: 20px;
}

.modal-form__checkbox-field {
  position: relative;
  margin-bottom: 30px;
  padding-left: 36px;
}

.modal-form__checkbox-text {
  height: 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.modal-form__checkbox::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;

  width: 16px;
  height: 15px;

  background-color: var(--text-hero-color);
  border-color: var(--title-text-color);

  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  transition: background-color var(--duration) var(--timing-function),
  border-color var(--duration) var(--timing-function);
}

/*сделал эффект для фокуса, по макету такого нет*/
.modal-form__checkbox-input:focus + .modal-form__checkbox::after {
  border: 2px solid var(--activ-button-color);
  border-radius: 2px;
  background-image: none;
}

.modal-form__checkbox-input:checked + .modal-form__checkbox::after {
  background-color: var(--activ-button-color);
  background-image: url(../images/icon-check.svg);
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal-form__contract {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--activ-button-color);
}

.modal-form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--activ-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  outline: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--text-hero-color);

  transition: background-color var(--duration) var(--timing-function);
}

.modal-form__button:focus,
.modal-form__button:hover {
  background-color: var(--checked-button-color);
}

/* header */
.container.header {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-navigation__link--current {
  color: var(--activ-button-color);
  position: relative;
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo__text {
  color: var(--activ-button-color);
}

.site-navigation,
.contacts-main {
  display: flex;
}

.site-navigation__item:not(:last-child),
.contacts-main__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-main {
  margin-left: auto;
}

.site-navigation__link,
.contacts-main__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);
}

.site-navigation__link--current::after {
  content: '';

  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2px;
  background-color: var(--activ-button-color);
  border-radius: 2px;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--activ-button-color);
}

.contacts-main__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--duration) var(--timing-function);
}

.contacts-main__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}*/

.contacts-main__link:hover,
.contacts-main__link:focus {
  color: var(--activ-button-color);
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--text-hero-color);
  text-align: center;
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 696px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  background-color: var(--activ-button-color);
  color: var(--text-hero-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* advantages */

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantages__item:nth-child(4) {
  margin-right: 0;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

/* WORK */
.work {
  padding-top: 0px;
}

.work__list,
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work__item {
  position: relative;
  
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__item::after {
  content: '';

  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  bottom: 3px;
  background-color: rgba(47, 48, 58, 0.8);

  z-index: 1;
}

.work__text {
  position: absolute;
  display: block;
  text-align: center;
  text-transform: uppercase;
  
  width: 100%;
  height: 16px;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  
  color: var(--text-hero-color);

  z-index: 2;
}


/* TEAM */

.work__title,
.team__title,
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  padding-bottom: 30px;

  background: var(--text-hero-color);

  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:nth-child(4n) {
  margin-right: 0;
}

.team__photo {
  display: block;
  margin-bottom: 30px;
}

.team__worker {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__sociallist {
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

.team__socialitem {
  width: 44px;
  height: 44px;
}

.team__socialitem:not(:last-child) {
  margin-right: 10px;
}

.team__sociallink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: var(--primary-fill-color);

  transition: color var(--duration) var(--timing-function), 
    background-color var(--duration) var(--timing-function);
}

.team__sociallink:hover,
.team__sociallink:focus {
  color: var(--text-hero-color);
  background-color: var(--activ-button-color);
}

.team__socialicon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* сlients */

.clients__list {
  display: flex;
  margin: 0;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--primary-fill-color);
  border-radius: 4px;
  border: 1px solid var(--primary-fill-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));

  transition: color var(--duration) var(--timing-function),
  border var(--duration) var(--timing-function),
  filter var(--duration) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--activ-button-color);
  border: 1px solid var(--activ-button-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clients__logo {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__text--white {
  color: #ffffff;
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  margin-left: 63px;

  width: 206px;
  height: 80px;
}

.join__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-hero-color);
}

.join__list {
  display: flex;
  justify-content: space-between;
}

.join__item {
  width: 44px;
  height: 44px;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: var(--text-hero-color);
  background-color: var(--network-bg-color);

  transition: background-color var(--duration) var(--timing-function);
}

.join__link:hover,
.join__link:focus {
  background-color: var(--activ-button-color);
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* ПОДПИСАТЬСЯ В ФУТЕРЕ*/
.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--text-hero-color);
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  background-color: inherit;

  color: black;
}
  
.subscribe__input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 11px;
  width: 200px;
  height: 50px;

  background: var(--activ-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.subscribe__buttontext {
  margin-right: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;

  color: var(--text-hero-color);
}

.subscribe__icon {
  width: 24px;
  height: 24px;
}

/* Portfolio */

.header--border {
  border: 1px solid #ececec;
}

.portfolio {
  margin-bottom: 0;
}

.project__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.project__item:not(:last-child) {
  margin-right: 8px;
}

.project__button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  min-width: 73px;
  min-height: 38px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0), 0px 1px 2px rgba(0, 0, 0, 0),
    0px 2px 2px rgba(0, 0, 0, 0);

  transition: background-color var(--duration) var(--timing-function),
  color var(--duration) var(--timing-function),
  box-shadow var(--duration) var(--timing-function);
}

.project__button:hover,
.project__button:focus {
  background-color: var(--activ-button-color);
  color: var(--text-hero-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.example__item {
  width: 370px;
  margin: 15px;
}

.example {
  display: block;
  }

.example__link {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
  1px 4px 6px rgba(0, 0, 0, 0);

  transition: box-shadow var(--duration) var(--timing-function);
}

.example__link:focus,
.example__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.example__content {
  padding: 20px 24px;
  background-color: var(--text-hero-color);
  border-right: 1px solid var(--border-example-color);
  border-bottom: 1px solid var(--border-example-color);
  border-left: 1px solid var(--border-example-color);
}

.example__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.example__overlay {
  position: relative;
  overflow: hidden;
}

.example__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition: transform var(--duration) var(--timing-function);
}

.example__specification {
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  
  color: var(--text-hero-color);
}

.example__link:focus .example__description,
.example__link:hover .example__description {
  transform: translateY(0);
}
